.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #292c34;
  padding-bottom: 5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.headerText {
  font-size: 3rem;
  padding-top: 2rem;
}

.sub {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.startCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  overflow-y: hidden !important;
}

.startCardWrapper div {
  width: 100%;
}

.statsList {
  width: 100%;
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.startCardWrapper p {
  font-size: 1.2rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.startCardWrapper h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.chartWrapper {
  margin-top: 2rem;
}
